* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    font-size: 18px;
    background: #111;
    color: #aaa;
    text-align: center;

}

.gridhead {
    width: 100%;
    height: 200px;
    margin-top: 25px;
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "LEGO PeaFUNK";
}

#LEGO {
    grid-area: LEGO;
}

#PeaFUNK {
    grid-area: PeaFUNK;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title h1 {
    color: #222;
    background: #E9E2D0;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
    font-size: 60px;
    border-radius: 10px;
    font-weight: bold;
}

.headshot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headshot img {
    border-radius: 100px;
    filter: sepia(1);
}

p {
    font-weight: 100;
    color: #888;
    margin-bottom: 45px;
}

.footer {
    margin-top: 80px;
}

a {
    text-decoration: none;
}

.thumb {
    margin-top: 150px;
    max-height: 171px;
    border: solid 6px rgba(5, 5, 5, 0.8);
}

.lightbox {
    position: fixed;
    z-index: 999;
    height: 0;
    width: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
    opacity: 0;
}

.lightbox:target {
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 1 !important;

}

.lightbox:target img {
    border: solid 17px rgba(77, 77, 77, 0.8);
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.light-btn {
    color: #fafafa;
    background-color: #333;
    border: solid 3px #777;
    padding: 5px 15px;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 45%;
    z-index: 99;
}

.light-btn:hover {
    background-color: #111;
}

.btn-prev {
    left: 7%;
}

.btn-next {
    right: 7%;
}

.btn-close {
    position: absolute;
    right: 2%;
    top: 2%;
    color: #fafafa;
    background-color: #92001d;
    border: solid 5px #ef4036;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
}

.btn-close:hover {
    background-color: #740404;
}

footer {
    width: 100%;
    height: 100px;
    margin-top: 150px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
}

footer h4 {
    color: #ffffd9;
}

@media screen and (max-width: 340px) {
    .gridhead {
        width: 100%;
        height: 100px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "LEGO"    
            "PeaFUNK";
    }
    .headshot img {
        max-width: 75px;
    
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title h1 {
        font-size: 15px;
    }
}

@media screen and (min-width: 341px) and (max-width: 640px) {
    .gridhead {
        width: 100%;
        height: 150px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "LEGO"    
            "PeaFUNK";
    }
    .headshot img {
        max-width: 100px;
    
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title h1 {
        font-size: 20px;
    }
}
 

@media screen and (min-width: 641px) and (max-width: 1180px) {
    .gridhead {
        width: 100%;
        height: 150px;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title h1 {
        font-size: 32px;
    }
    .headshot img {
        max-width: 150px;
    
    }
}

/* @media screen and (min-width: 1181px) {

} */